<form [formGroup]="formEndereco">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label>Logradouro: </label>
                <input class="form-control" type="text" formControlName="Logradouro" required/>
                <div *ngIf="formEndereco.controls['Logradouro'].invalid && (formEndereco.controls['Logradouro'].dirty || formEndereco.controls['Logradouro'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>          
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Numero: </label>
                <input class="form-control" type="number" formControlName="Numero" required/>
                <div *ngIf="formEndereco.controls['Numero'].invalid && (formEndereco.controls['Numero'].dirty || formEndereco.controls['Numero'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>Complemento: </label>
                <input class="form-control" type="text" formControlName="Complemento" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label>Bairro: </label>
                <input class="form-control" type="text" formControlName="Bairro" required/>
                <div *ngIf="formEndereco.controls['Bairro'].invalid && (formEndereco.controls['Bairro'].dirty || formEndereco.controls['Bairro'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>Cidade: </label>
                <input class="form-control" type="text" formControlName="Cidade" required/>
                <div *ngIf="formEndereco.controls['Cidade'].invalid && (formEndereco.controls['Cidade'].dirty || formEndereco.controls['Cidade'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Estado: </label>
                <select class="form-control" formControlName="Estado" required>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                  </select>
                <div *ngIf="formEndereco.controls['Estado'].invalid && (formEndereco.controls['Estado'].dirty || formEndereco.controls['Estado'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>      
        </div>
    </div>
</form>