<h4 class="title">Lista de Clientes</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Nascimento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-hover" *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.dataNascimento | date: 'dd/MM/yyyy'}}</td>
            <td>
                <button class="btn btn-info" (click)="editar(cliente)">Editar</button>
                <button class="btn btn-danger" (click)="deletarCliente(cliente.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>




