<div class="jumbotron">
    <div class="text-center">
        <h3>Desafio Target - CRUD</h3>
        <p> Angular</p>
    </div>
</div>

<div class="container">
    <app-lista (clienteSelecionado)="clienteSelecionado($event)"></app-lista>
   
    <button class="btn btn-primary btn-sm" (click)="limpar()">Limpar</button>
    <div *ngIf="cliente != undefined">
        <app-cadastro [editarCliente]="cliente"></app-cadastro>
    </div>
    <div *ngIf="cliente == undefined">
        <app-cadastro [editarCliente]="cliente"></app-cadastro>
    </div>
</div>

<router-outlet></router-outlet>