<div class="jumbotron">
    <div class="text-center">
        <h3>Desafio Target - CRUD</h3>
        <p> Angular</p>
    </div>
</div>

<div class="container">
    <app-lista (clienteSelecionado)="clienteSelecionado($event)" [clientes] = "clientes"></app-lista>
   
    <div *ngIf="cliente != undefined">
        <app-cadastro [editarCliente]="cliente" (clientes)="atualizarLista($event)" (cancelarEdicao)="limparClienteSelecionado($event)"></app-cadastro>
    </div>
    <div *ngIf="cliente == undefined">
        <app-cadastro [editarCliente]="cliente" (clientes)="atualizarLista($event)" (cancelarEdicao)="limparClienteSelecionado($event)"></app-cadastro>
    </div>
</div>

<router-outlet></router-outlet>