<div class="card">
    <h4 class="card-header">Cadastro de Cliente</h4>
    
    <div class="card-body">
        <form [formGroup]="formCliente">
            <div class="form-group">
                <label>Nome:</label>
                <input class="form-control" type="text" formControlName="Nome" required>
                <div *ngIf="formCliente.controls['Nome'].invalid && (formCliente.controls['Nome'].dirty || formCliente.controls['Nome'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>
                <div class="form-group">
                <label>Data de Nascimento:</label>
                <input class="form-control" type="date" formControlName="DataNascimento" required>
                <div *ngIf="formCliente.controls['DataNascimento'].invalid && (formCliente.controls['DataNascimento'].dirty || formCliente.controls['DataNascimento'].touched)">
                    <label class="text-danger">Campo obrigatório!</label>
                </div>
            </div>
        
            
            <div *ngIf="formEnderecos.controls.length > 0">
                <div *ngFor="let endereco of formEnderecos.controls; let i = index;">
                    <div class="card">
                        <h4 class="card-header">Endereco {{i + 1}} </h4>
                        <div class="card-body">
                            <app-endereco [formEndereco]="formEnderecos.at(i)"></app-endereco>
                        </div>
                    </div>
                </div>
            </div>
        
            
            <button *ngIf="formCliente.controls.Id.value == ''" class="btn btn-primary" (click)="onSubmit(formCliente.value, false)">Salvar</button>
            <button *ngIf="formCliente.controls.Id.value != ''" class="btn btn-primary" (click)="onSubmit(formCliente.value, true)">Editar</button>
            <button *ngIf="formCliente.controls.Id.value != ''" class="btn btn-primary" (click)="onCancelarEdicao()">Cancelar</button>

            <button class="btn btn-success right" (click)="adicionarEndereco()">Adicionar Endereco</button>
            <button *ngIf="formEnderecos.controls.length > 1 && formEnderecos.value[formEnderecos.controls.length -1].Id == ''" class="btn btn-success right" (click)="removerEndereco()">Remover Endereco</button>
            <button *ngIf="formEnderecos.controls.length > 1 && formEnderecos.value[formEnderecos.controls.length -1].Id != ''" class="btn btn-success right" (click)="deletarEndereco()">Deletar Endereco</button>
        </form>
    </div>
</div>





